circos_*
*.csv
*.png
*.pdf
*.sh
inter_intensities.txt
code_standalone/main
code_standalone/nohup.out
code_compileNrun/main
code_compileNrun/main_*
code_compileNrun/aux.sh
code_compileNrun/runs/*
runs/*
scripts/*.txt
scripts/*.RData
scripts/script_info.R
scripts/sp_counts.R
scripts/energies_hsa.R
scripts/rJunBase_seq5ss.R
data/freqs_GT/genomesftp.txt
data/seqs/*.RData
